/*@font-face {
    font-family: 'LatoReg';
    src: local('LatoReg'), url("fonts/Lato/Lato-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'LatoBold';
    src: local('LatoBold'), url("fonts/Lato/Lato-Bold.ttf") format('truetype');
}*//*
@font-face {
    font-family: 'Segoe UI Notbold';
    font-style: bold;
    font-weight: 700;   
    src: local("Segoe UI");
}*/
@font-face {
    font-family: 'HK Grotesk';
    font-style: bold;
    font-weight: 700; 
    src: url("fonts/HKGrotesk/hkgrotesk-bold-webfont.ttf") format('truetype'),
    url("fonts/HKGrotesk/hkgrotesk-bold-webfont.woff") format("woff"),
    url("fonts/HKGrotesk/hkgrotesk-bold-webfont.woff2") format("woff2");
}
@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;  
    src: url("fonts/HKGrotesk/hkgrotesk-regular-webfont.ttf") format('truetype'),
    url("fonts/HKGrotesk/hkgrotesk-regular-webfont.woff") format("woff"),
    url("fonts/HKGrotesk/hkgrotesk-regular-webfont.woff2") format("woff2");
}
@font-face {
    font-family: 'HK Grotesk';
    font-weight: 600;  
    src: url("fonts/HKGrotesk/hkgrotesk-semibold-webfont.ttf") format('truetype'),
    url("fonts/HKGrotesk/hkgrotesk-semibold-webfont.woff") format("woff"),
    url("fonts/HKGrotesk/hkgrotesk-semibold-webfont.woff2") format("woff2");
}
*, input, button {outline:none !important;}

body{
    margin: 0;
}
#header{
    position: sticky;
    top: 0;
}
.footer{
    font-family: 'Cabin';
    font-weight: 600;
    background-color: #5e6b6e;
    height: 100px;
}
.toppanel{
    height: 90px;
    background-color: white;
    padding: 5px 0;
    padding-bottom: 0px;
}
.toppanelContent {
    margin: auto;
    height: 90px;
    width: 970px;
    background-color: green;
}

/*@media only screen and (min-width: 1366px) {
    dopln pre mensie zariadenia
}
*/
/*@media only screen and (min-width: 1366px) {*/

    /* -- HEADER -- */
    #headerBackground {
        width: 100%;
        z-index: 15;
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 8;
    }
    #headerLogo{
        height: 42px;
    }
    #headerMediaPlugins{
        height: 20px;
        width: 170px;

        display: flex;
        flex-direction: row;
    }
    #headerMediaPlugins .smi-container {
        height: 18px;
        margin: 0 2px;
        transition: ease 0.2s;
    }
    .smi-container img {
        position: relative;
        height: 15px;
        margin: 0 2px;
        margin-top: 3px;
        transition: ease 0.3s;
    }
    .smi-container:hover img {
        cursor: pointer;
        margin-top: -3px;
    }
    #headerPanel{
        width: 1030px;
        height: 60px;
    }

    /* -- SEARCHBAR -- */
    .searchBar {
        float: right;
    }
    .searchForm {
        float: right;
    }
    .fa{
        height: 30px;
    }
    .searchForm input{
        height: 30px;
        width: 120px;

        border: solid 1px #bac2c4; 
        border-radius: 30px;
        padding: 0 40px 0 15px;

        font-weight: 400;
        color: #5e6b6e; 
        background-color: white;
        
    }
    .searchForm button{
        padding: auto 10px;
        margin-left: -45px;

        border:none;
        cursor: pointer;
        background-color: transparent;
    }
    .searchForm img {
        height: 16px;
    }

    /* -- NAVBAR -- */
    .navbar {
        width: 100%;
        height: 38px;

        /*overflow: hidden;*/
        background-color: #e10600;
        box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
    }
    .navbar a{
        /*padding: 7px 19px;*/
        height: 30px;
        margin: 0 11px;

        /*display: flex;*/
        /*align-items: center;*/

        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'HK Grotesk','Source Sans Pro';
        font-weight: 700;
        font-size: 14px;
        color: white;

        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        outline: none;
    }
    .navbar a span {
        padding: 0 9px;
        height: 30px;
        display: flex;
        align-items: center;
    }
    .navbar a.selected {
        border-bottom-color: white;
    }

    .navbar a::after {
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background: white;
        transition: width .3s;
    }
    .navbar a:hover::after {
        width: 100%;
        /*transition: width .3s;*/
    }

    .reGrayTitle {
        margin: 0;
        padding: 7px;
        padding-left: 12px;

        font-weight: 600;
        font-size: 16px;
        font-family: 'HK Grotesk','Source Sans Pro';
        text-transform: uppercase;
        
        background-color: #eceff2;
        border-left: 5px solid #e10600;
    }
    
    /* UTILS */
    .flex-space-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titleFont {
        font-family: 'Cabin','Source Sans Pro';
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
    .ifont {
        font-family: 'HK Grotesk','Source Sans Pro';
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
    .rfont {
        font-family: 'Open Sans','Source Sans Pro';
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        line-height: 28px;
        color: #2a2b2b;
    }
    .contentFont {
        font-family: 'Open Sans';
        font-weight: 400;
    }
    .subTitleFontColor {
        color: rgba(0, 0, 0, 0.65);
    }
    .fs-12 {
        font-size: 12px;
    }
    .fs-13 {
        font-size: 13px;
    }
    .fs-14 {
        font-size: 14px;
    }
    .fs-16 {
        font-size: 16px;
    }
    .fs-18 {
        font-size: 18px;
    }
    .fw-normal {
        font-weight: 400;
    }
    .fw-400 {
        font-weight: 400;
    }
    .fw-600 {
        font-weight: 600;
    }
    .fw-700 {
        font-weight: 700;
    }
    .mt-5 {
        margin-top: 5px;
    }
    .mb-5 {
        margin-bottom: 5px;
    }
    .blackBotGradient {
        background: linear-gradient(0deg, 
        rgba(1,1,1,0.95) 0%, 
        rgba(1,1,1,0.75) 20%, 
        rgba(0,0,0,0.50) 75%,
        rgba(0,0,0,0.00) 100%);
    }
    .zoomImageContainer img{
        transition: transform .3s ease;
    }
    .zoomImageContainer:hover img {
        transform: scale(1.025);
    }
    .basicButton {
        margin: auto;
        height: 40px;
        width: 140px;
        border: 1px solid black;
        border-radius: 0px;
        font-family: 'HK Grotesk','Source Sans Pro';
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        color: black;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        transition: ease-in-out 0.2s;
    }

    .basicButton:hover {
        background-color: black;
        color: white;
        cursor: pointer;
    }


    .linkAsButton {
        margin-top: 10px;
        margin-right: 0px;
        margin-left: auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    /*.linkAsButton:hover a{
        text-decoration: underline;
    }*/
    .linkAsButton a {
        font-size: 14px;
        text-decoration: none;
        color: black;
        font-family: 'Cabin','Source Sans Pro';
        font-weight: 600;
    }
    .linkAsButton img {
        margin-bottom: -1px;
        height: 11px;
        width: 11px;
        padding-left: 0px;
    }
    .linkAsButton:hover {
        text-decoration: underline;
    }

    /* -- MAINZONE AREA -- */
    .titleArea{
        display: grid;
        grid-template-columns: auto 246px 20px 246px 20px 240px 20px 240px auto; 
        grid-template-rows: 40px 150px 20px 150px;
    }
    #art-00 {
        grid-column: 2 / span 3;
        grid-row: 2 / span 3;
    }
    #art-01 {
        grid-column: 6 / span 1;
        grid-row: 2 / span 1;
    }
    #art-02 {
        grid-column: 6 / span 1;
        grid-row: 4 / span 1;
    }
    #art-03 {
        grid-column: 8 / span 1;
        grid-row: 2 / span 1;
    }
    #art-04 {
        grid-column: 8 / span 1;
        grid-row: 4 / span 1;
    }

    .contentsPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page{
        margin-top: 30px;
        display: grid;
        grid-template-columns: auto 673px 38px 320px auto; 
    }
    .page .mainContent {
        grid-column: 2 / span 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .page .sideBar {
        margin-top: 61px;
        grid-column: 4 / span 1;
    }

    .articleLink {
        text-decoration: none;
    }
    /* -- MAIN ARTICLE -- */
    .mainArticlePreview{
        position: relative;
        overflow: hidden;
        height: 320px;
        z-index: 0;
    }
    .mainArticlePreview img{
        height: 100%;
        vertical-align: middle;
    }
    .mainArticleTitle{
        height: 70px;

        position: relative;
        bottom: 0px;
        margin-top: -70px;
    }
    .mainArticleTitle h3 {
        margin: 0;
        padding: 12px;

        text-align: start;
        color: white;
        text-shadow: black 2px 2px 2px;
    }
    
    .sideArticlePreview {
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .sideArticlePreview img{
        height: 100%;
        vertical-align: middle;
    }
    .sideArticlePreview:hover img{
        transform: scale(1.05);
    }
    
    .sideArticleTitle {
        height: 70px;
        bottom: 0px;
        margin: 0;
        width: 100%;
        position: absolute;

        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    .sideArticleTitle h3{
        padding: 10px 10px;
        margin: 0;
        overflow: auto;
        color: white;
        text-shadow: black 1px 1px 2px;
    }

    .articlesBlock {
        width: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto 211px 20px 211px 20px 211px 38px 320px auto;
        grid-template-rows: 220px 20px 220px;
    }
    #art-05 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    #art-06 {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
    }
    #art-07 {
        grid-column: 6 / span 1;
        grid-row: 1 / span 1;
    }
    #art-08 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
    #art-09 {
        grid-column: 4 / span 1;
        grid-row: 3 / span 1;
    }
    #art-10 {
        grid-column: 6 / span 1;
        grid-row: 3 / span 1;
    }

    .articlesBlockTitle {
        grid-column: 2 / span 1;
        grid-row: 2 / span 2;
    }
    .articlesBlockTitle h2{
        margin: 0px;
        padding: 5px;
        font-size: 26px;
    }

    #quickNewsTitle {
        display: block;
    }
    #quickNewsBlock {
        margin-top: 5px;
    }

    /* -- ARTICLE PREVIEW -- */
    .articlePreview img {
        width: 100%;
    }
    .articleTitle {
        color: black;
    }
    .articleTitle h3 {
        margin: 0;
        height: 60px;
        padding-top: 4px;
    }
    .articleTitle .title:hover {
        text-decoration: underline;
    }
    .articleTitle .date {
        margin: 0;
        font-weight: 400;
    }

    /* -- ONELINERS -- */
    .scrollable {
        height: 460px;
        padding: 10px;
        padding-top: 0px;
        margin-bottom: 25px;
        overflow-y: scroll;
    }
    .oneLineNews{
        z-index: 5;
    }
    .oneLineNews .date {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 0 6px;

        position: relative;
        margin-bottom: -20px;
        margin-left: 15px;
        margin-right: auto;

        z-index: 3;
        font-family: 'Open sans';
        font-size: 11px;
        background-color: white;
    }
    .oneLineNews .message {
        padding: 8px;
        padding-top: 12px;

        font-size: 13px;

        z-index: 0;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    .oneLineMessageLink {
        text-decoration:  none;
        color: black;
    }
    .oneLineMessageLink:hover{
        text-decoration:  underline;
    }

    /* -- all articles BUTTON -- */
    .allArticlesButton{
        margin-top: 20px;
    }/*
    .allArticlesButton:hover {
        border: 1px solid #e10600;
        color: #e10600;
        cursor: pointer;
    }*/
    
    /* -- CALENDAR basics -- */
    .calendarPreview {
        display: grid;
        grid-template-columns: auto 328px 17px 328px 38px 320px auto;
        grid-template-rows: 10px 55px 10px 35px 10px 205px 30px 26px;
    }
    .calendarPreview .calendarTitle{
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;

        margin: 0px;
        margin-top: 10px;
        padding: 5px;
        
        font-size: 26px;
    }
    .calendarPreviewImage {
        grid-column: 2 / span 1;
        grid-row: 6 / span 1;
        height: 100%;
    }
    .calendarPreview .venueTitle {
        grid-column: 2 / span 3;
        grid-row: 4 / span 1;
    }
    .calendarPreview .venueName {
        margin: 0;
        font-weight: 600;
    }
    .calendarPreview .timesData {
        grid-column: 4 / span 1;
        grid-row: 6 / span 1;
    }
    .calendarPreview .linkAsButton {
        grid-column: 4 / span 1;
        grid-row: 7 / span 1;

        /*
        margin-right: 5px;
        margin-left: auto;*/
    }
    
    /* PROGRAM -- */
    .timesDataItem {
        margin: 0px;
        margin-top: 14px;
        margin-right: 10px;
        padding-bottom: 2px;
        width: 152px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-left: 3px solid #d8dcde;

        z-index: 0;

        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;    
    }
    .timesDataItem .event {
        height: 20px;
        padding-left: 7px;
        font-weight: 600;
    }
    .timesDataItem .tvStations {
        padding-left: 5px;
        padding-right: 4px;
        position: absolute;
        z-index: 2;

        display: block;
        opacity: 0; 
        transition: opacity .5s;
    }
    .timesDataItem:hover .tvStations {
        opacity: 1;
        color: black;
        background-color: #d8dcde;
    }

    .timesDataItem .time {
        z-index: 1;
        color: rgba(0, 0, 0, 0.65);
    }
    .timesData .date {
        margin: 0;
    }
    .timesData .venueDetails {
        padding-left: 7px;
        border-left: 3px solid #e10600;
    }

    .inRow {
        display: relative;
        padding-left: 0px;
        height: 18px;
    }
    .inRow .time {
        position: absolute;
        padding-left: 7px;
    }
    .inRow .tvStations {
        position: absolute;
        color: rgba(0,0,0,0);
    }
    .cols {
        display: flex;
        flex-direction: row;
    }
    .col1 {
        display: flex;
        flex-direction: column;
    }
    .col2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    /* RESULTS */

    .resultsWidgetContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 673px;
    }

    .resultsInfoboxTitle {
        width: 296px;
    }
    .resultsInfobox {
        width: 320px;
    }


    .resultsDataItem {
        margin: 0;
        margin-top: 10px;
        padding-left: 10px;
        width: 100%;

        display: flex;
        flex-direction: row;
    }
    .resultsDataItem span{
        margin: 0px;
        padding: 0px 5px;
        display: block;
    }
    .resultsInfobox .name {
        width: 190px;
        font-family: 'HK Grotesk', 'Source Sans Pro';
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
    }
    .resultsInfobox .time {
        width: 110px;
    }
    .resultsInfobox .position {
        width: 12px;
        font-family: 'HK Grotesk', 'Source Sans Pro';
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
        flex-shrink: 0;
    }
    .resultsInfobox .linkAsButton {
        margin-top: 10px;
        
        margin-right: 5px;
    }

    .champResultsInfoboxTitle {
        grid-column: 4 / span 1;
        grid-row: 10 / span 1;

        margin-left: 10px;
    }
    .champResultsInfobox {
        grid-column: 4 / span 1;
        grid-row: 11 / span 1;
        margin-left: 20px;
    }
    .champResultsInfobox .linkAsButton {
        margin-top: 10px;
        
        margin-right: 0px;/*
        margin-left: auto;*/
    }
    
    .driverData {
        margin: 0px;
        margin-right: 10px;
        width: 200px;
        height: 35px;
        border-left: 3px solid #d8dcde;
    }
    .resultsDataItem .driverData {
        width: 170px;
    }
    .champResultsInfobox .resultsDataItem .driverData {
        width: 220px;
    }
    .driverData .team {
        color: rgba(0, 0, 0, 0.65);
    }
    .podium-line {
        border-color: #e10600;
    }/*
}*/

.rPanel {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 250px;
    background-color: green;
}
.dummyContent {
    height: 600px;
    background: rgb(1,1,1);
    background: linear-gradient(0deg, rgba(1,1,1,0.8365546047520571) 0%, rgba(184,96,46,1) 28%, rgba(122,128,50,1) 67%, rgba(222,233,90,0.8505602069929534) 98%);
}

.pagePicker{
    margin-top: 25px;
    height: 25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.pagePickerItem {
    margin: 2px 3px;
    padding: 0 3px;
    height: 30px;
    width: 26px;

    border: 1px solid black;
    border-radius: 0px;
    font-family: 'HK Grotesk','Source Sans Pro';
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: black;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    transition: ease-in-out 0.2s;
}

.pagePickerItem:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.noOutline {
    text-decoration: none;
    outline: none;
}

/*---- CalResWidget ----*/
.calResWidget {
    width: 320px;
    height: 420px;/*
    background-color: blueviolet;*/
}
.widgetButtonContainer {
    margin: 0 5px;
    margin-top: 10px;
    /*border-bottom: 2px solid #eceff2;*/
}
.widgetButtonContainer Button {
    /*argin: 0 5px;*/
    border: none;
}
.calResWidgetContent {
    width: 310px;
    height: 100%;
    margin: 0px 5px;
    /*
    background-color: yellow;*/
}
.timesData .venueName {
    margin: 0;
}
.flex-r {
    display: flex;
    flex-direction: row;
}
.flex-c {
    display: flex;
    flex-direction: column;
}
.flex-sb {
    justify-content: space-between;
}
.flex-fs {
    justify-content: flex-start;
}
.flex-ac {
    align-items: center;
}
.m-0 {
    margin: 0;
}
.m-5 {
    margin: 5px;
}
.mtb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.p-5 {
    padding: 5px;
}
.ptd-2 {
    padding-top: 2px;
    padding-bottom: 2px;
}
.ptd-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.ptd-7 {
    padding-top: 7px;
    padding-bottom: 7px;
}
.plr-5 {
    padding-left: 5px;
    padding-right: 5px;
}
.plr-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.pl-5 {
    padding-left: 4px;
}
.tab-bb {
    border-top: 1px solid #eceff2;
}
.widgetSButtonContainer {
    position: relative;
}
.widgetButton {
    height: 33px;
    width: 104px;
    padding: 0;
    border: 1px solid black;
    border-radius: 0px;
    font-family: 'HK Grotesk','Source Sans Pro';
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: black;
    background-color: #eceff2;

    transition: ease-in-out 0.2s;
}

.widgetSButtonContainer:hover .widgetButton{
    /*margin-bottom: 10px;*/
    background-color: #2a2b2b;
    /*border-bottom: 1px solid white;*/
    color: white;
    cursor: pointer;
    font-weight: 700;
}
.widgetButton.selected{
    /*margin-bottom: 10px;*/
    background-color: #2a2b2b;
    /*border-bottom: 1px solid white;*/
    color: white;
    cursor: pointer;
    font-weight: 700;
}
.widgetSButtonContainer:hover .arrow-up{
    /*margin-bottom: 10px;*/
    border-bottom: 7px solid white;
    /*border-bottom: 1px solid white;*/
}
.widgetButtonContainer .selected {
    background-color: #2a2b2b;
    color: white;
}
.widgetButtonContainer .selected .arrow-up{
    border-bottom: 7px solid white;
}
.b-rs {
    border-bottom: 2px solid #d8dcde;
}
.ml-10 {
    margin-left: 10px;
}
.calendarWidgetElement .event{
    padding-left: 5px;
    display: inline-block;
    width: 72px;
}
.calendarWidgetElement .time{
    display: inline-block;
    width: 103px;
}
.calendarWidgetElement .tv{
    display: inline-block;
    width: 110px;
}

.calendarWidgetElement .position{
    text-align: center;
    display: inline-block;
    width: 35px;
}
.calendarWidgetElement .pilot{
    display: inline-block;
    width: 150px;
}
.calendarWidgetElement .difference{
    display: inline-block;
    width: 130px;
}

.calendarWidgetElement .points{
    display: inline-block;
    width: 100px;
}
.arrow-up {
    position: absolute;
    margin: auto;
    margin-top: -5px;
    margin-left: 37px;
    z-index: 5;
    width: 0px; 
    height: 0px; 
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 5px solid transparent;
    transition: ease-in-out 0.2s;
}